*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    background-color: #004149;
    background-image: url("/static/images/nasa-Q1p7bh3SHj8-unsplash.jpg") !important;
    background-blend-mode:luminosity ;
    background-size: cover;     
    background-repeat: no-repeat; 
    background-position: center;
    height: 100%;
}

.editor {
    height: 600px;
    width: 760px;
    font-family: 'JetBrains Mono';
    font-size: medium;
    font-weight: 400;
    border-radius: 20px;
    border-color: #c1ffee;
    border-width: 2px;
    border-style: solid;
    outline: none;
    padding-left: 25px;
    padding-top: 25px;
    overflow: auto;
    background-color: #105d68;
    margin-top: 35px;
    color: #cefdf0;
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 20px;
    gap: 25px;
    align-items:center;
    justify-content: center;
}

.btn {
    background-color: rgba(0, 0, 0, 0.7);
    width: 95px;
    height: 45px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'JetBrains Mono';
    border-radius: 25px;
    border: 1px solid #E3FEF7;
    cursor: pointer;
    color: #E3FEF7;
    font-size:medium ;
    transition: transform 0.1s ease;
    margin-top: 3px;
}

.btn:hover {
    background-color: #5b8884;
}

.btn:active {
    transform: scale(0.97); 
}

.heading {
    font-family: 'JetBrains Mono';
    font-weight: 100;
    color: #c1ffee;
}

.heading2 {
    font-family: 'JetBrains Mono';
    padding-left: 10px;
    font-weight: bolder;
    color: #c1ffee;
}

.outer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    background-color: rgba(0, 0, 0, 0.7);
    height: 65%;
    width: 65%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    gap: 40px;
    border-color: rgb(193, 255, 238);
    border-width: 2px;
    border-style: solid;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px;
    height: 320px;
    width: 320px;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ff4d4d;
    border-radius: 10px;
    font-size: 13px;       
    line-height: 1.4;       
    font-family: 'JetBrains Mono';
    overflow: hidden;       
    white-space: pre-wrap;
}
.inner b {
    font-size: 16px;   
    margin-bottom: 8px;
    color: #ffffff;
}

.container3 {
    gap: 25px;
    display: flex;
    justify-content: center;
}

.heading3 {
    font-family: 'JetBrains Mono';
    font-weight: bolder;
    color: #c1ffee;
    text-align: center;
    font-size: 45px;
}
