*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #004149;
    background-image: url("../static/images/nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-blend-mode: luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.heading {
    font-family: 'JetBrains Mono';
    color: #c1ffee;
}

.heading2 {
    font-family: 'JetBrains Mono';
    color: #c1ffee;
    font-weight: bold;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.editor {
    height: 600px;
    width: 760px;
    margin-top: 10px;
    padding: 25px;
    font-family: 'JetBrains Mono';
    border-radius: 20px;
    border: 2px solid #c1ffee;
    background: rgba(0, 0, 0, 0.7);
    color: #cefdf0;
    margin-top: 20px;
    outline: none;
    scrollbar-width: none;
}

.btn {
    width: 95px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid #E3FEF7;
    background: rgba(0, 0, 0, 0.7);
    color: #E3FEF7;
    font-size:medium;
    font-family: 'JetBrains Mono';
    cursor: pointer;
    transition: transform 0.1s ease;
}

.btns {
    width: 95px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid #E3FEF7;
    background: rgba(0, 0, 0, 0.7);
    color: #E3FEF7;
    font-family: 'JetBrains Mono';
    font-size:medium;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.1s ease;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container2 {
    width: 80%;
    height: 90%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    border: 2px solid #c1ffee;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header .left {
    position: absolute;
    left: 20px;
}

.heading3 {
    font-family: 'JetBrains Mono';
    font-size: 48px;
    color: #c1ffee;
}

.btn:hover, .btns:hover {
    background-color: #5b8884;
}

.btn:active, .btns:active {
    transform: scale(0.97);
}

b {
    margin-bottom: 10px;
    text-align: center;
}

pre {
    font-family: 'JetBrains Mono';
    font-size: small;
}

.top-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 18px;
}

.box {
    width: 270px;
    height: 280px;
    border-radius: 15px;
    background: rgba(255, 255, 255);
    font-family: 'JetBrains Mono';
    padding: 15px;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}

.box.error {
    border: 2px solid red;
}

.tree-container {
    margin: 10px auto 0 auto;
    height: 680px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px;
    scrollbar-width: none;
}

.tree-title {
    color: #ffffff;
    text-align: center;
    font-family: 'JetBrains Mono';
    font-size: larger;
    margin-top: 25px;
    margin-bottom: 8px;
}

.tree-img {
    max-width: 130%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
