<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Editor</title>
</head>
<body>
<div class="container">
    <p style="font-size: 42px; margin-top: 10px;">
        <span class="heading">C To Python</span> 
        <span class="heading2">Compiler</span>
    </p>
    <textarea class="editor" spellcheck="false" placeholder="Enter C code here..."></textarea>
    <button class="btns" onclick="compileCode()">COMPILE</button>
</div>
<script src="/static/script.js"></script>
</body>
</html>