<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Output</title>
</head>
<body>

<div class="outer">
    <div class="container2">

        <div class="header">
            <div class="left">
                <a href="/">
                    <button class="btn">Editor</button>
                </a>
            </div>
            <h1 class="heading3">Output</h1>
        </div>

        <div class="top-row">

            <div class="box">
                <b>Lexical Analysis</b>
                <pre>{{ lexer }}</pre>
            </div>

            {% if syntax_error %}

            <div class="box error">
                <b>Syntax Error</b>
                <pre>{{ parser }}</pre>
            </div>

            {% elif semantic_error %}

            <div class="box">
                <b>Syntax</b>
                <pre>Parsing Successful</pre>
            </div>

            <div class="box error">
                <b>Semantic Error</b>
                <pre>{{ semantic }}</pre>
            </div>

            {% else %}

            <div class="box">
                <b>Three Address Code</b>
                <pre>{{ tac }}</pre>
            </div>

            <div class="box">
                <b>Python Code</b>
                <pre>{{ python_code }}</pre>
            </div>

            {% endif %}
        </div>

        {% if not syntax_error and not semantic_error %}
        <h3 class="tree-title">Parse Tree</h3>
        <div class="tree-container">
            {% if tree_image %}
                <img src="/{{ tree_image }}" class="tree-img">
            {% else %}
                <p>No parse tree generated</p>
            {% endif %}
        </div>
        {% endif %}

    </div>
</div>

</body>
</html>